/*John's Code - 2014
Feel free to look, but don't take. Unless you contact me.*/


@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	overflow-x: hidden;
	font-family: Lato;
}
a{
	text-decoration: none;
	color: white;
}
.bigPage {
	width: 100%;
}
.bigPage2 {
	position: absolute;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	top: 97%;
	background: #eee;
	box-shadow: 0px -10px 10px -10px rgba(0,0,0,0.3);
	border-top-left-radius:100px 50px;
	border-top-right-radius:100px 50px;
}
.bigPageCont {
	padding: 1em;
}
.tab {
	text-align: center;
}
.header {
	position: absolute;
	font-weight: 300;
	font-size: 5em;
	width: 100%;
	top: 200px;
	text-align: right;
	height: auto;
	font-family: Lato;
	color: white;
	-webkit-font-smoothing: antialiased;
}
.header-cont {
	padding-right: 20px;
}
.idea-container {
	position: absolute;
	margin-top: 25px;
	background: rgba(255,255,255,0.05);
	min-height: 95%;
	width: 50%;
}
.idea-header {
	width: 100%;
	text-align: left;
}
.idea-header div {
	padding: 1em;
}
.idea-block {
	min-height: 200px;
	width: 100%;
	border-radius: 10px;
	background: #ddd;
	margin-bottom: 5px;
}
.idea-block:hover {
	background: #eee;
}
.idea-title {
	display: block;
	float: right;
	font-size: 2em;
	font-weight: 300;
	text-align: right;
	padding: 1em;
	left: 20%;
	max-width: 50%;
}
.idea-title a {
	color: black;
}
.idea-block:hover a {
	border-bottom: 1px solid;
}
.idea-vote {
	display: block;
	float: left;
	height: 100%;
	width: 10%;
}
.idea-vote img {
	height: 90px;
	margin-bottom: 8px;
}
.idea-vote-up {
	text-align: center;
	cursor: pointer;
}
.idea-vote-up:hover {
	background: rgba(25,255,25,0.5);
}
.idea-vote-down {
	text-align: center;
	cursor: pointer;
}
.idea-vote-down:hover {
	background: rgba(255,25,25,0.5);
}
.idea-author {
	display: block;
	font-size: 0.5em;
}
.idea-content {
	display: block;
	max-height: 100px;
	font-size: 0.75em;
}
.bodyText {
	color: rgb(220,220,220);
	position: absolute;
	top: 80%;
	font-size: 2em;
	font-weight: 300;
	width: 100%;
	text-align: center;
}
.content {
	display: block;
	float: right;
	color: #eee;
	height: 25px;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	transition: 0.2s;
}
.content:hover {
	background: rgba(255,255,255,0.3);
	color: #fff;
}
.blogBody {
	padding-left: 15px;
	padding-right: 15px;
	line-height: 1.3em;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: rgba(255,255,255,0.15);
	font-size: 1.4em;
	font-weight: 300;
	margin-top: 450px;
	width: 50%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.blogBody-wrapper {
	position: absolute;
	width: 100%;
	padding-bottom: 200px;
}
.bodyText a{
	text-decoration: underline;
	color: rgb(205,205,205);
	transition: color 0.3s;
}
.bodyText a:hover {
	color: white;
}

.rights {
	position: absolute;
	font-weight: 300;
	bottom: 1em;
	width: 100%;
	text-align: center;
	color: #ddd;
	-webkit-font-smoothing: antialiased;
}
.footer {
	position: absolute;
	font-weight: 300;
	font-size: 2em;
	width: 100%;
	top: 500px;
	text-align: center;
	height: 200px;
	color: white;
	-webkit-font-smoothing: antialiased;
}
.title {
	padding-top: 0.5em;
	font-size: 0.3em;
}
.title a{
	color: #bcbcbc;
	transition: 0.3s;
}
.title a:hover {
	color: #eee;
}
.title h3 {
	color: rgba(255,255,255,0.7);
	font-size: 0.8em;
	padding: 5px;
}
.imgBack {
		position: fixed;
	top: 0%;
	height: 100%;
	width: 100%;

}
.smallText {
	font-size: 0.2em;
}
#main {
	background-image:url('../img/city.jpg');	
	background-size: cover;
	background-position: top;
}
.backgroundG {
	opacity: 0.45;
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right,rgba(255,255,255,1)0,rgba(60,135,195,.98)100%);
}
.nav-bar {
	text-align: right;
	z-index: 9999;
	opacity: 1;
	position: fixed;
	height: 25px;
	top: 0;
	width: 100%;
	top: auto;
	background: linear-gradient(to right,rgba(255,255,255,0)20%,rgba(255,255,255,.1)100%);
	transition: .65s;
	-webkit-font-smoothing: antialiased;
}
.nav-bar a {
	padding: 0.5em;
	color: #eee;
}
.nav-bar a:hover{
	color: #fff;
}


.raster {
	height: 100%;
	width: 100%;
	background-image:url('../img/raster-dark.png');
	background-repeat: repeat;

}
@media screen and (max-width: 1300px) {
	.idea-title {
		font-size: 1.45em;
	}
}
@media screen and (max-width: 721px) {

}